html{
  font-size:8px;
}

/*Header Section*/
header {
  position: fixed;
  width: 100%;
  background-color: rgba(178,171,158,0.97);
  z-index: 2;
  height:8rem;
}

header .content {
  display: flex;
  align-items: center;
  padding:2rem 3rem;
}

header .logo {
  flex: 1;
  font-size: 3rem;
  color: rgb(47, 92, 138);
  font-weight: 200;
  font-family:"playfair display","times new roman";
}
header .bold{
  font-weight: 800;
  letter-spacing: .1em;
  color: rgba(0,0,0,1);
}
header .desktop-logo{
  height:4rem;
}
header nav ul {
  display: flex;
}
nav li {
  padding-left: 2rem;
}
nav a:hover{
  color: rgb(47,92,138);
}
nav a {
  vertical-align: bottom;
  line-height: 1.6;
  font-size: 2.2rem;
  color: #4a4a4a;
}

header .icon {
  width: 1rem;
  padding-left: .75rem;
}

header .mobile {
  display: none;
}

@media only screen and (max-width: 760px) {
  header .desktop {
    display: none;
  }

  header .desktop-logo{
    display: none;
  }

  header .mobile {
    display: block;
    width: 100%;
  }

  header .mobile ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }

  header .mobile li {
    padding: 0;
  }

  header .mobile .button {
    padding: .1875rem .5rem;
    background-color: #9dc20b;
    line-height: 1.6;
    color: white;
  }
  header{
    justify-content: center;
  }
}
/*Banner Section*/
.banner{
  display:flex;
  position:relative;
  text-align:center;
  overflow: hidden;
  top: 8rem;
  background-color: lightgrey;
}
.media-container{
  width: 60%;
  height: 100%;
  margin: 0 auto;
  display: block;
  margin-right: 3rem;
  padding-right: 3rem;
}
@media only screen and (max-width:760px){
  .banner{
    display:block;
  }
  .media-container{
    width: 100%;
    overflow: none;
  }
  .banner .media-container img{
    padding:0;
  }
  .banner .text{
    width: 100%;
  }
}
.banner img{
  max-width: 100%;
  padding: 4rem 3rem;
  display: block;
  margin-right:0;
}
.banner .text{
  display: block;
  text-align:left;
  margin: auto;
  flex-wrap: wrap;
  width: 40%;
  padding-right: 3rem;
}
.banner h1{
  font-size: 5rem;
  padding-bottom: 3rem;
  color: rgb(47,92,138);
  font-family: "Julius Sans One", Helvetica;
  font-weight:700;
}
.banner h2{
  font-size: 3rem;
  padding-bottom: 3rem;
  font-family: "Scope One", Helvetica;
}
@media only screen and (max-width:760px){
  .banner .text{
    padding:0rem 2rem;
    width:100%;
  }
  .banner h1{
    padding:4rem 0rem;
  }
}
.banner .button{
  background-color: darkgrey;
  font-size:3rem;
  text-align: center;
  padding: 1rem 0;
  width:100%;
  max-width: 90%;
  font-family:"Scope One", Helvetica;
}
.banner .button:hover{
  color: rgb(255,239,211);
  background-color: rgb(47,92,138);
  transition: color 500ms linear 50ms, background-color 500ms linear;
}
@media only screen and (max-width:760px){
  .banner .button{
      margin-bottom: 4rem;
  }
}
/*Supporting Section (Information & Events)*/
.support{
  display:inline-flex;
  position:relative;
  text-align:left;
  overflow: hidden;
  top: 8rem;
  padding-bottom: 4rem;
}
.support .media-container{
  width: 60%;
  height: 100%;
  margin: 0 auto;
  display: block;
  padding-right: 3rem;
  margin-right: 3rem;
}
.support img{
  max-width: 100%;
  margin: 4rem 3rem;
  display: block;
  overflow: hidden;
}
.support h1{
  font-size: 4rem;
  padding-left: 3rem;
  color: rgb(47,92,138);
  font-family:"Julius Sans One", Helvetica;
  font-weight:700;
}
.support .media-container p{
  padding: 3rem;
  font-size: 2.5rem;
  font-family:"Scope One", Helvetica;
}
.support span{
  padding: 3rem;
  padding-top: 4rem;
  font-size: 2rem;
  font-family:"Julius Sans One", Helvetica;
}
.support h3{
  font-size: 3rem;
  font-family: "Scope One", Helvetica;
  font-weight:700;
}
.mobile-jpg{
  display: none;
}
@media only screen and (max-width:619px){
  .support{
    margin-top: 2rem;
    margin-bottom: 4rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 0;
  }
  .support .text{
    margin: auto;
    padding:4rem 2rem;
    font-family:"Scope One", Helvetica;
  }
  .support img{
    margin: 0;
  }
  .support .box{
    display: block;
  }
  .support .boxes .box{
    border: none;
  }
  .support .media-container{
    display:none;
  }
  .support .boxes{
    display:block;
    max-width: 100%;
  }
  .support .boxes .sml-image-container{
    display: none;
  }
  .mobile-jpg{
    display: block;
  }
}
.support .box{
  border-bottom: 2px solid lightgrey;
  border-left: 2px solid lightgrey;
}
.support .boxes .sml-image-container{
  padding:0rem;
}
.support .boxes p{
  font-size: 2.5rem;
  padding:1rem 0;
  font-family: "Scope One", Helvetica;
}
.support .boxes a{
  color: rgb(47,92,138);
  font-size: 2.5rem;
}
.support .boxes a:hover{
  color:rgb(255,239,211);
}
/*Courses Section*/
.courses{
  display: block;
  position: relative;
  margin-top:4rem;
  padding-top: 4rem;
  background-color:lightgrey;
  justify-content: center;
}
.course-container{
  margin-top: 4rem;
  display: inline-flex;
  flex-wrap: wrap;
  padding:4rem 9rem;
  padding-top: 0;
  justify-content: space-between;
}
.courses h2{
  font-size: 4rem;
  text-align: center;
  justify-content: center;
  margin: auto;
  color: rgb(47,92,138);
  font-family: "Scope One", Helvetica;
}

.course{
  margin-right: 4rem;
  margin-bottom: 4rem;
  background-color: white;
}
.course:hover{
  background-color:rgb(178,171,158);
  transition: background-color 300ms ease-in .1s;
}
.course .img-container{
  width:100%;
  height:auto;
}
.course img{
  display:block;
  height: auto;
}
@media only screen and (max-width:650px), (min-width:715px)  and (max-width:1280px){
  .course img,
  .course h4,
  .course p{
    display: none;
  }
  .courses h2{
    padding-top:2rem;
  }
  .courses{
    background-color: white;
    padding-top:0;
  }
  .course{
    margin-right:0;
    margin-bottom: 1rem;
  }
  .course-container{
    display: block;
    padding: 2rem;
    padding-bottom: 4rem;
    margin-top:0;
  }
  .courses .course .txt{
    background-color: lightgrey;
    padding:0;
  }
  .courses .course .txt:hover{
    background-color: rgb(178,171,158);
    transition: background-color 300ms ease-in-out;
    }
  .course .txt h3{
    padding: 2rem 2rem;
    padding-bottom: 3rem;
  }
}
.course .txt{
  padding:2rem;
  padding-top: 0;
  flex-wrap: wrap;
}
.course h3{
  font-size: 3rem;
  padding: 2rem 0;
  font-family: "Julius Sans One", Helvetica;
}
.course h4{
  font-size: 2rem;
  padding: 1rem 0rem;
  text-transform: uppercase;
}
.course p{
  font-size:1.9rem;
  padding-bottom: 3rem;
}
/*Thesis Section*/
.thesis{
  display:block;
}
.thesis h2{
  font-size: 4rem;
  padding: 4rem 0;
  margin: auto;
  text-align: center;
  color: rgb(47,92,138);
  font-family: "Julius Sans One", Helvetica;
}
.thesis .content{
  display:flex;
}
.thesis .media-container{
  max-width: 60%;
  padding: 3rem;
  padding-top: 0;
  margin-right:0;
}
.thesis video{
  max-width: 100%;
  display: block;
}
.thesis .media-container h2{
  font-size: 3rem;
  padding-bottom: 1rem;
  text-align: left;
}
.thesis h3{
  font-size: 3rem;
  padding-bottom: 1rem;
  font-family:"Julius Sans One", Helvetica;
}
.thesis span,
.thesis p{
  font-size: 2rem;
  padding-bottom: 4rem;
  font-family: "Scope One", Helvetica;
}
@media only screen and (max-width:680px){
  .thesis .media-container{
    max-width: 100%;
    padding:0;
    padding-bottom: 3rem;
  }
  .thesis .boxes{
    display: none;
  }
  .thesis h2{
    padding-top: 4rem;
    padding-bottom: 2rem;
  }
  .thesis .media-container h2,
  .thesis span{
    display: none;
  }
}
/*CSS for both box section in Thesis Section and Supporting Section*/
.boxes{
  max-width: 40%;
  display: block;
  flex-wrap: wrap;
}
.box{
  display: flex;
}
.box:hover{
  background-color: rgb(178,171,158);
  transition: background-color 250ms linear .1s;
}
.boxes .sml-image-container{
  padding: 2rem;
  margin-right: 2rem;
  max-width: 35%;
  height: auto;
  overflow: hidden;
}
.boxes img{
  width: 100%;
  height: auto;
}
.box .text{
  margin: auto;
  margin-left:0;
  max-width: 65%;
}
/*Footer Section*/
footer .content{
  padding: 2rem 3rem;
  padding-bottom: 4rem;
  display: flex;
  justify-content: space-between;
  border-top: 2px solid lightgrey;
  background-color: rgb(178,171,158);
  font-family:"playfair display", "times new roman";
}
footer span{
  font-size: 1.8rem;
  text-align: left;
}
footer nav ul{
  font-size: 1.8rem;
  justify-content: flex-end;
  display: flex;
}
footer nav li:hover{
  color: rgb(47,92,138);
}
@media only screen and (max-width: 680px){
  footer .content{
    padding: 2rem;
    border: none;
    display: block;
  }
  footer nav{
    display: none;
  }
  footer .copyright{
    text-align: center;
  }
}
