html{
  font-size:8px;
}

/*Header Section*/
header {
  position: fixed;
  width: 100%;
  background-color: white;
  z-index: 2;
  height:8rem;
}

header .content {
  display: flex;
  align-items: center;
  padding:2rem 3rem;
}

header .logo {
  flex: 1;
  font-size: 3rem;
}

header .desktop-logo{
  height:4rem;
}

header nav ul {
  display: flex;
}

nav li {
  padding-left: 2rem;
}

nav a {
  vertical-align: bottom;
  line-height: 1.6;
  font-size: 2.2rem;
  color: #4a4a4a;
}

header .icon {
  width: 1rem;
  padding-left: .75rem;
}

header .mobile {
  display: none;
}

@media only screen and (max-width: 760px) {
  header .desktop {
    display: none;
  }

  header .desktop-logo{
    display: none;
  }

  header .mobile {
    display: block;
    width: 100%;
  }

  header .content {
    padding: .5rem 0;
  }

  header .mobile ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }

  header .mobile li {
    padding: 0;
  }

  header .mobile .button {
    padding: .1875rem .5rem;
    background-color: #9dc20b;
    line-height: 1.6;
    color: white;
  }
}
/*Banner Section*/
.banner{
  display:flex;
  position:relative;
  text-align:center;
  overflow: hidden;
  top: 8rem;
  background-color: lightgrey;
}
.media-container{
  width: 60%;
  height: 100%;
  margin: 0 auto;
  display: block;
  margin-right: 3rem;
  padding-right: 3rem;
}
.banner img{
  max-width: 100%;
  padding: 4rem 3rem;
  display: block;
  margin-right:0;
}
.banner .text{
  display: block;
  text-align:left;
  margin: auto;
  flex-wrap: wrap;
  width: 40%;
  padding-right: 3rem;
}
.banner h1{
  font-size: 5rem;
  padding-bottom: 3rem;
}
.banner h2{
  font-size: 3rem;
  padding-bottom: 3rem;
}
.banner .button{
  background-color: darkgrey;
  font-size:3rem;
  text-align: center;
  padding: 1rem 0;
  width:100%;
}
/*Supporting Section (Information & Events)*/
.support{
  display:inline-flex;
  position:relative;
  text-align:left;
  overflow: hidden;
  top: 8rem;
  padding-bottom: 4rem;
}
.support .media-container{
  width: 60%;
  height: 100%;
  margin: 0 auto;
  display: block;
  padding-right: 3rem;
  margin-right: 3rem;
}
.support img{
  max-width: 100%;
  margin: 4rem 3rem;
  display: block;
  overflow: hidden;
}
.support h1{
  font-size: 4rem;
  padding-left: 3rem;
}
.support .media-container p{
  padding: 3rem;
  font-size: 2.5rem;
}
.support span{
  padding: 3rem;
  padding-top: 4rem;
  font-size: 2rem;
}
.support h3{
  font-size: 3rem;
}
.support .box{
  border-bottom: 2px solid lightgrey;
  border-left: 2px solid lightgrey;
}
.support .boxes .sml-image-container{
  padding:0rem;
}
.support .boxes p{
  font-size: 2.5rem;
  padding:1rem 0;
}
.support .boxes a{
  color: blue;
  font-size: 2.5rem;
}
/*Courses Section*/
.courses{
  display: block;
  position: relative;
  margin-top:4rem;
  padding-top: 4rem;
  background-color: lightgrey;
  justify-content: center;
}
.course-container{
  margin-top: 4rem;
  display: inline-flex;
  flex-wrap: wrap;
  padding:4rem 9rem;
  padding-top: 0;
  justify-content: space-between;
}
.courses h2{
  font-size: 4rem;
  text-align: center;
  justify-content: center;
  margin: auto;
}

.course{
  margin-right: 4rem;
  margin-bottom: 4rem;
  background-color: white;
}
.course .img-container{
  width:100%;
  height:auto;
}
.course img{
  display:block;
  height: auto;
}
.course .txt{
  padding:2rem;
  padding-top: 0;
  flex-wrap: wrap;
}
.course h3{
  font-size: 3rem;
  padding: 2rem 0;
}
.course h4{
  font-size: 2rem;
  padding: 1rem 0rem;
  text-transform: uppercase;
}
.course p{
  font-size:1.9rem;
  padding-bottom: 3rem;
}
/*Thesis Section*/
.thesis{
  display:block;
}
.thesis h2{
  font-size: 4rem;
  padding: 4rem 0;
  margin: auto;
  text-align: center;
}
.thesis .content{
  display:flex;
}
.thesis .media-container{
  max-width: 60%;
  padding: 3rem;
  padding-top: 0;
  margin-right:0;
}
.thesis video{
  max-width: 100%;
  display: block;
}
.thesis .media-container h2{
  font-size: 3rem;
  padding-bottom: 1rem;
  text-align: left;
}
.thesis h3{
  font-size: 3rem;
  padding-bottom: 1rem;
}
.thesis span,
.thesis p{
  font-size: 2rem;
  padding-bottom: 4rem;
}
/*CSS for both box section in Thesis Section and Supporting Section*/
.boxes{
  max-width: 40%;
  display: block;
  flex-wrap: wrap;
}
.box{
  display: flex;
}
.boxes .sml-image-container{
  padding: 2rem;
  margin-right: 2rem;
  max-width: 35%;
  height: auto;
  overflow: hidden;
}
.boxes img{
  width: 100%;
  height: auto;
}
.box .text{
  margin: auto;
  margin-left:0;
  max-width: 65%;
}
/*Footer Section*/
footer .content{
  padding: 2rem 3rem;
  padding-bottom: 4rem;
  display: flex;
  justify-content: space-between;
  border-top: 2px solid lightgrey;
}
footer span{
  font-size: 1.8rem;
  text-align: left;
}
footer nav ul{
  font-size: 1.8rem;
  justify-content: flex-end;
  display: flex;
}
